* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar-brand {
  color: rgb(87, 19, 56);
  font-style: italic;
  font-weight: bold;
  font-size: 22px;
  padding-right: 50px;
}
.navbar {
  padding: 0;
}
.navbar-brand i {
  color: grey;
  padding-left: 20px;
  padding-right: 5px;
  font-size: 18px !important;
}

ul li a i {
  padding-right: 10px;
  color: grey;
  font-size: 20px;
}
/* Nav.link a{
    color: red;
   } */
.nav-item a:hover {
  background-color: rgb(87, 19, 56) !important;
  transition: 0.5s;
}
.nav-item {
  color: white;
}
ul li a.nav-link {
  color: white !important;
  margin-right: 10px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
}
.hd:hover {
  font-style: italic;
}
.card {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s; /* Define the transition properties and duration */
  border: none; /* Remove default card border */
}

.card:hover {
  transform: scale(1.05); /* Enlarge the card on hover */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow on hover */
}
input.form-control:hover,
input.form-control:active {
  border-color: #000; /* Set the border color to the default color */
  box-shadow: none; /* Remove the box shadow */
}
input.form-control:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
